body {align-content: center;}

div#marco {
    position: absolute;
    width: 650px;
    height: 450px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    border-style:solid;
    border-color:#211915;
}

div#marco #logo > img {
  width: 608px;
  height: 393px;
}

div#logo {
  position: absolute;
  left: 26px;
  top:10px;
}

div#icons {
   position: absolute;
   bottom: 25px;
   left: 225px;
    }

#facebook img {
  width: 35px;
  height: 35px;
}

#instagram img {
  width: 35px;
  height: 35px;
  margin-left: 10px;
}

#telefono img {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  margin-right: 5px;
}

#posicion img {
  width: 35px;
  height: 35px;
  margin-left: 10px;
}

div#mails {
  position: absolute;
  left: 100px;
  bottom: -25px;
}

span#email {
    font-size: 16px;
    font-family: Roboto;
}

span#mail > img {
   width: 35px;
  height: 35px;
  margin-right: 5px;
}

span#number {
  font-size: 16px;
  font-family: Roboto;
}

span#telefono {
  margin-right: 15px;
}
