body {align-content: center;}
div#marco {
    position: absolute;
    width: 601px;
    height: 427px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    border-style:solid;
    border-color:black;
}
div#marco > img {
  max-width: 600px;
  max-height: 450px;
}

div#marco #logo > a img {
  width: 492px;
  height: 325px;
}

div#logo {
  position: absolute;
  top: 52px;
  left: 54px;
}
#icons {
   position: absolute;
   bottom: 24px;
   left: 138px;
 }

#facebook img {
  width: 30px;
  height: 30px;
}

#instagram img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

span#mail {
    font-size: 16px;
    font-family: Roboto;
    margin-left:15px;
}
